---
import '../styles/tailwind.css';
import Layout from './layout.astro';

const pageTitle = "Centro de Ayuda"
---
<meta charset="UTF-8">
<div class="flex h-full w-full">
    <Layout pageTitle={pageTitle}>
        
</div>