---
import '../styles/tailwind.css';
import Layout from './layout.astro';

const pageTitle = "Lista de Productos"
---
<meta charset="UTF-8">
<div class="flex flex h-full w-full">
  <Layout pageTitle={pageTitle}/>
</div>