<div class="flex justify-center mt-5">
    <div class="relative w-2/4">
        <i class="fa-solid fa-magnifying-glass text-red-900 absolute left-3 top-1/2 transform -translate-y-1/2"></i>
        <input type="search" class="bg-zinc-900 text-white shadow rounded border-0 pl-10 pr-3 py-3 rounded-full w-full" placeholder="Buscar Menu...">
    </div>
</div>
