---
import "../styles/global.css";
import '@fortawesome/fontawesome-free/css/all.css';
---

<div class="w-56 h-full m-5 mt-24 text-white text-center bg-zinc-900 rounded-xl text-white flex flex-col">
  <div class="p-6 text-lg font-bold border-b">RESTAURANTE</div>
  <nav class="flex-1 mt-6">
    <ul>
      <li class="mb-2 mt-5">
        <a href="/catalogo" class="block py-2 px-4 hover:bg-red-800">
          <i class="fa-solid fa-bars mr-2"></i>
          Catalogo
        </a>
      </li>
      <li class="mb-2 mt-5">
        <a href="/productos" class="block py-2 px-4 hover:bg-red-800">
          <i class="fa-solid fa-bowl-food mr-2"></i>
          <span>Productos</span>
        </a>
      </li>
      
      <li class="mb-2 mt-5">
        <a href="/errores" class="block py-2 px-4 hover:bg-red-800">
          <i class="fa-solid fa-envelope mr-2"></i>
          Reportar
        </a>
      </li>
      <!-- Agregar más elementos del menú aquí -->
    </ul>
  </nav>
</div>
